[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/billy360cost
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/billy360cost
	label-Verified = -1..+1 group user/billy360cost
	push = +force group user/billy360cost
	read = group user/billy360cost
	rebase = group user/billy360cost
	removeReviewer = group user/billy360cost
	submit = group user/billy360cost
[access "refs/heads/*"]
	create = group user/billy360cost
	push = +force group user/billy360cost
	pushMerge = group user/billy360cost
	read = group user/billy360cost
[access "refs/tags/*"]
	push = group user/billy360cost
	push = +force group user/billy360cost
